/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; }

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left:8px;
}

.button:not(:hover) {
  transition: 0.4s;
}

/* Efecto para description */
.button::before {
  /* opacity: 0; */
  border: none;
  color: black;
  opacity: 0;
  position: absolute;
  padding: 0px 35px;
  width: 400px;
  height: auto;
  word-spacing: 3px;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  display: block;
  font-size: 18px;
  margin: 0px 280px;
  cursor: pointer;
  transition: 0.4s;
  /* -webkit-transition: all 3s;
  transition: all 3s; */
}

.button:hover::before {
  opacity: 1;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Github */
.button.button-github {
  color: #FFFFFF;
  background-color: #000000 }
.button.button-github,
.button.button-github::before {
  content: 'Repositorios de código.';
  white-space: initial;
}

/* LinkedIn */
.button.button-linked {
  color: #FFFFFF;
  background-color: #2867B2 }
.button.button-linked,
.button.button-linked:before {
  content: 'Perfil de LinkedIn actualizado.';
  white-space: initial;
}

/* YouTube */
.button.button-yt {
  color: #FFFFFF;
  background-color:  #500000 }
.button.button-yt,
.button.button-yt:before {
  content: 'Este es mi canal de YouTube. En él tengo subidos tutoriales que hice con 11 años que te pueden interesar ;)';
  white-space: initial;
}

/* Mail */
.button.button-mail {
  color: white;
  background-color: #47ac28 }
.button.button-mail,
.button.button-mail:before {
    content: 'Haciendo click aquí, puedes enviarme un mail.';
    white-space: initial;
}

  /* CV */
.button.button-cv {
  color: white;
  background-color: #13a7ac }
.button.button-cv,
.button.button-cv:before {
  content: 'Currículum actualizado.';
  white-space: initial;
}